@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,600,600i,700,700i,800,800i');

body {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  color: #212224;
  height: auto;
  width: 100%;
  padding: 20px;
  background: #eee;
}
.main-container--header {
  height: 80px;
}
.main-container--header h2 {
  margin: 0 0 .5em 0;
}
.main-container--body {
  height: auto;
  padding: 20px;
  /* box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, 0.161); */
}
.code-link-container {
  height: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding: 1em;
  border: 5px solid #224889;
}
.code-link-container h3 {
  margin-bottom: .5em;
}
.code-link-container .code-nav {
  height: 100%;
  min-height: 170px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 1em;
  flex-wrap: wrap;
}
.code-nav a {
  margin-right: 1em;
  /* background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%); */
  background: rgb(56,79,175);
  background: linear-gradient(351deg, rgba(56,79,175,1) 0%, rgba(148,187,233,1) 71%);
  border-radius: 10px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  transform: scale(1);
  position: relative;
  bottom: 0;
  transition: all 200ms ease-in;
}
a:hover {
  font-weight: bolder;
  transform: scale(1.01);
  bottom: 5px;
  background: linear-gradient(9deg, rgba(56,79,175,1) 0%, rgba(148,187,233,1) 71%);
  box-shadow: 4px 3px 9px 0px rgba(148, 187, 233, 0.36);
}
.code-nav-link {
  height: 100%;
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1em .4em 1em 0;
}