@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/* .border1 {
  border: 1px solid red;
}
.border2 {
  border: 1px solid yellow;
}
.border3 {
  border: 1px solid blue;
}
.border4 {
  border: 1px solid black;
} */
body {
  font-family: 'Noto Sans', sans-serif;
}
.main-container {
  height: 100%;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.cards__item {
  display: flex;
  padding: 16px;
  max-width: 375px;
}
.card {
  background-color: white;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: .25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
}

.card__content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.card__image {
  height: 50%;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
}
.card__image--fence {
  background-image: url(https://images.unsplash.com/photo-1523800503107-5bc3ba2a6f81?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80);
}
.card__title {
  color: #4d4e4f;
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: .5em;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  font-size: 0.875rem;
  line-height: 1.5;
}

@media(min-width: 640px) {
  .cards__item {
    width: 50%;
  }
}
@media(min-width: 896px) {
  .cards__item {
    width: 33.3333%;
  }
}
