@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

/* .border1 {
  border: 1px solid red;
}
.border2 {
  border: 1px solid yellow;
}
.border3 {
  border: 1px solid blue;
}
.border4 {
  border: 1px solid black;
} */
body {
  font-family: 'Roboto Mono';
}

.main-container {
  height: 100%;
  background: linear-gradient(160deg,#ffeb00,#ffb820,#ff8748,#ff5e69,#dd4582,#a43f8e,#623e8a,#0c3776);
}
nav {
  height: 80px;
  padding: 0px 15px;
  background-color: rgba(238, 238, 238, 0.5);
  transition: background-color 0.3s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav:hover {
  background-color: rgba(238, 238, 238, 0.8);
}
nav .logo{
  flex: 1;
  height: 70px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo i {
  margin-right: 10px;
  font-size: 45px;
}
nav ul{
  height:100%;
  flex: 1;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
ul li {
  /* width: 100px; */
}
.hamburger {
  display: block;
  transition: opacity 500ms ease;
  z-index: 1;
}
.hamburger span {
  display: block;
  height: 3px;
  width: 50px;
  background: black;
  margin: 8px 0;
}
.mobile-nav ul {
  display: none;
}
.mobile-nav {
  transition: all 500ms ease;
}
.open-nav {
  display: flex;
  width: 100%;
  height: 100vh;
  background: red;
  position: absolute;
  top: 0;
  transition: all 500ms ease;
}
.open-nav ul {
  display: flex;
  flex-direction: column;
}


@media(min-width: 640px) {
  .open-nav {
    display: none;
  }
  nav ul {
    display: flex;
  }
  .hamburger {
    display: none;
  }
  main {
    flex-direction: row;
  }
  nav ul {
    opacity: 1;
    display: flex;
    justify-content: flex-end;
  }
  nav ul li {
    margin: 0 20px;
  }
}