@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono';
}

nav {
  margin: 1em 0;
}
nav .logo {
  /* width: 200px;
  height: 100px;
  background: red; */
}