@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono';
}

nav {
  margin: 1em 0 8em;
  height: 150px;
}

/* flexbox navigation */
.flexbox-nav {

}
.flexbox-nav .logo {

}
.flexbox-nav .navigation{

}
.flexbox-nav ul li {

}

/* relative-absolute navigation */
.relative-absolute-nav {

}
.relative-absolute-nav .logo{

}
.relative-absolute-nav .navigation{

}
.relative-absolute-nav ul li {

}
